<div class="card">
  <span
    class="spinner-border spinner-border-sm align-middle ms-2"
    *ngIf="isLoading$ | async"
  ></span>
  <div class="card-body border-top p-9">
    <div class="row mb-6">
      <div class="col-lg-8 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Título: (*)</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por Ejemplo: Las mejores tablets en 2024"
        />
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Sku: (*)</label>
        <input
          type="text"
          name="sku"
          [(ngModel)]="sku"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por Ejemplo: ZDR234 "
        />
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Precio EUR: (*)</label>
        <input
          type="number"
          name="price_eur"
          [(ngModel)]="price_eur"
          (focus)="clearIfZero('price_eur')"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por Ejemplo: 30 €"
        />
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Precio USD: (*)</label>
        <input
          type="number"
          name="price_usd"
          [(ngModel)]="price_usd"
          (focus)="clearIfZero('price_usd')"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por Ejemplo: 30 $ "
        />
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Marcas: *</label>
        <select
          class="form-control form-select-solid fw-bolder"
          name="brand"
          placeholder="Selec. Marca"
          [(ngModel)]="brand_id"
        >
          <option value="">Selec.</option>
          <ng-container *ngFor="let brand of brands"
            ><option [value]="brand.id">{{ brand.name }}</option></ng-container
          >
        </select>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-4">
        <label class="fw-semibold fs-6 py-2"
          >Departamento:(Primer Nivel *)</label
        >
        <select
          class="form-control form-select-solid fw-bolder"
          name="departament"
          placeholder="Selec. Departamento"
          [(ngModel)]="categorie_first_id"
          (change)="changeDepartment()"
        >
          <option value="">Selec.</option>
          <ng-container *ngFor="let item of categories_first"
            ><option [value]="item.id">{{ item.name }}</option></ng-container
          >
        </select>
      </div>
      <div class="col-4">
        <label class="fw-semibold fs-6 py-2"
          >Categoria:(Segundo Nivel (Opcional))</label
        >
        <select
          class="form-control form-select-solid fw-bolder"
          name="categorie"
          placeholder="Selec. Categoria"
          [(ngModel)]="categorie_second_id"
          (change)="changeCategorie()"
        >
          <option value="">Selec.</option>
          <ng-container *ngFor="let item of categories_second_filtered"
            ><option [value]="item.id">{{ item.name }}</option></ng-container
          >
        </select>
      </div>
      <div class="col-4">
        <label class="fw-semibold fs-6 py-2"
          >SubCategoria:(Tercer Nivel (Opcional))</label
        >
        <select
          class="form-control form-select-solid fw-bolder"
          name="categorie"
          placeholder="Selec. Categoria"
          [(ngModel)]="categorie_third_id"
        >
          <option value="">Selec.</option>
          <ng-container *ngFor="let item of categories_third_filtered"
            ><option [value]="item.id">{{ item.name }}</option></ng-container
          >
        </select>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-4 col-md-4 col-sm-12 my-2">
        <label class="fw-semibold fs-6 py-2"
          >Nuevo Tag (ENTER para agregar): (*)</label
        >
        <input
          id="word"
          type="text"
          name="word"
          [(ngModel)]="word"
          (keyup.enter)="addItems()"
          class="form-control form-control-lg form-control-solid"
          placeholder="Por Ejemplo: XXXX "
        />
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 my-2" *ngIf="!isShowMultiselect">
        <label class="fw-semibold fs-6 py-2">Tags: </label>
        <ng-multiselect-dropdown
          [placeholder]="'custom placeholder'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="tags"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="col-3">
        <label class="requires fw-bold fs-6 mb-2">Selec. un estado</label>
        <select
          class="form-control form-select-solid fw-bolder"
          name="state"
          placeholder="Selec. estado"
          [(ngModel)]="state"
        >
          <option value="1">Pendiente</option>
          <option value="2">Público</option>
        </select>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-4 col-md-6 col-sm-12 my-2">
        <label class="form-label">Sube tu imagen: (*)</label>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
            (change)="processFile($event)"
          />
          <label class="custom-file-label" for="customFile"
            >Selecciona archivo:</label
          >
        </div>
        <div class="">
          <img class="img py-4" [src]="image_preview" width="200" alt="" />
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 my-2">
        <div class="row">
          <div class="col-8">
            <label class="form-label">Sube tus imagenes: (*)</label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="customFileImages"
                accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
                (change)="processFileImages($event)"
              />
              <label class="custom-file-label" for="customFileImages"
                >Selecciona archivos:</label
              >
            </div>
            <div class="">
              <img
                class="img py-4"
                [src]="image_add_preview"
                width="100"
                alt=""
              />
            </div>
          </div>
          <div class="col-4 mt-8">
            <button class="btn btn-primary btn-sm" (click)="addImage()">
              +
            </button>
          </div>
          <div class="col-12">
            <div
              id="kt_table_users_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="table-responsive w-100">
                <table
                  class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
                  id="kt_advance_table_widget_1"
                >
                  <thead>
                    <tr class="text-left">
                      <th>IMAGEN</th>
                      <th>ACCIÓN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let imagen_ of images_files; let i = index">
                      <td>
                        <img [src]="imagen_.image" width="50" alt="" />
                      </td>
                      <td>
                        <button
                          class="ml-5 btn btn-sm btn-danger"
                          (click)="removeImages(imagen_.id)"
                        >
                          X
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-8 fv-row fv-plugins-icon-container">
        <label class="fs-6 fw-semibold mb-2">Descripción :</label>
        <ckeditor
          [data]="description"
          (change)="onChange($event)"
          [config]="editorConfig"
        ></ckeditor>
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container mt-6">
        <div class="row">
          <div class="col-12">
            <label class="fs-6 fw-semibold mb-2">Resumen :</label>
            <textarea
              class="form-control form-control-solid"
              rows="3"
              name="resume"
              [(ngModel)]="resume"
              placeholder="*******"
            ></textarea>
          </div>
          <div class="col-12">
            <label class="fw-semibold fs-6 mb-2">Stock: </label>
            <input
              type="number"
              name="stock"
              [(ngModel)]="stock"
              class="form-control form-control-lg form-control-solid"
              placeholder="Por Ejemplo: 20 EUR "
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-3">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </div>
  </div>
</div>
