<div class="profile__ticket table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nº Transacción</th>
        <th scope="col">Método de pago</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Total</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      @for(sale of sales; track sale.id){
      <tr>
        <th scope="row">#{{ sale.code_transaction }}</th>
        <td data-info="title">{{ sale.method_payment }}</td>
        <td data-info="status pending">{{ sale.created_at }}</td>
        <td>{{ sale.total }} {{ sale.currency_payment }}</td>
        <td>
          <a
            href="#"
            onclick="return false;"
            (click)="detailShow(sale)"
            class="tp-logout-btn"
            >{{ sale.sale_detail_show ? "Close" : "Detail" }}</a
          >
        </td>
      </tr>
      @for (detail of sale.sale_details; track detail.id) { @if
      (sale.sale_detail_show) {
      <tr>
        <th scope="row">
          <img
            [src]="detail.product.image"
            style="width: 25%; object-fit: contain"
            alt=""
          />
        </th>
        <td data-info="title">{{ detail.product.title }}</td>
        <td data-info="status pending">{{ detail.quantity }}</td>
        <td>{{ detail.subtotal }} {{ detail.currency }}</td>
        <td data-info="status pending">
          {{ detail.total }} {{ detail.currency }}
        </td>
      </tr>
      } } }
    </tbody>
  </table>
</div>
