<div class="profile__ticket table-responsive">
  <table class="table" *ngIf="!sale_detail_review">
    <thead>
      <tr>
        <th scope="col">Nº Transacción</th>
        <th scope="col">Método de pago</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Total</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      @for(sale of sales; track sale.id){
      <tr>
        <th scope="row">#{{ sale.code_transaction }}</th>
        <td data-info="title">{{ sale.method_payment }}</td>
        <td data-info="status pending">{{ sale.created_at }}</td>
        <td>{{ sale.total }} {{ sale.currency_payment }}</td>
        <td>
          <a
            href="#"
            onclick="return false;"
            (click)="detailShow(sale)"
            class="tp-logout-btn"
            >{{ sale.sale_detail_show ? "Close" : "Detail" }}</a
          >
        </td>
      </tr>
      @for (detail of sale.sale_details; track detail.id) { @if
      (sale.sale_detail_show) {
      <tr>
        <th scope="row">
          <img
            [src]="detail.product.image"
            style="width: 25%; object-fit: contain"
            alt=""
          />
          <br />
          <a
            href="#"
            onclick="return false;"
            (click)="reviewShow(detail)"
            class="tp-logout-btn"
            >Review</a
          >
        </th>
        <td data-info="title">{{ detail.product.title }}</td>
        <td data-info="status pending">{{ detail.quantity }}</td>
        <td>{{ detail.subtotal }} {{ detail.currency }}</td>
        <td data-info="status pending">
          {{ detail.total }} {{ detail.currency }}
        </td>
      </tr>
      } } }
    </tbody>
  </table>
  <div class="tp-product-details-review-form" *ngIf="sale_detail_review">
    <h3 class="tp-product-details-review-form-title">
      Review {{ sale_detail_review.product.title }}
    </h3>
    <p>
      Your email address will not be published. Required fields are marked *
    </p>
    <form action="#">
      <div
        class="tp-product-details-review-form-rating d-flex align-items-center"
      >
        <p>Your Rating :</p>
        <div
          class="tp-product-details-review-form-rating-icon d-flex align-items-center"
        >
          <span
            class="star-large"
            [ngClass]="{ 'star-grey': rating < 1 }"
            (click)="selectedRating(1)"
            ><i class="fa-solid fa-star"></i
          ></span>
          <span
            class="star-large"
            [ngClass]="{ 'star-grey': rating < 2 }"
            (click)="selectedRating(2)"
            ><i class="fa-solid fa-star"></i
          ></span>
          <span
            class="star-large"
            [ngClass]="{ 'star-grey': rating < 3 }"
            (click)="selectedRating(3)"
            ><i class="fa-solid fa-star"></i
          ></span>
          <span
            class="star-large"
            [ngClass]="{ 'star-grey': rating < 4 }"
            (click)="selectedRating(4)"
            ><i class="fa-solid fa-star"></i
          ></span>
          <span
            class="star-large"
            [ngClass]="{ 'star-grey': rating < 5 }"
            (click)="selectedRating(5)"
            ><i class="fa-solid fa-star"></i
          ></span>
        </div>
      </div>
      <div class="tp-product-details-review-input-wrapper">
        <div class="tp-product-details-review-input-box">
          <div class="tp-product-details-review-input">
            <textarea
              id="message"
              name="message"
              [(ngModel)]="message"
              placeholder="Write your review here..."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="tp-product-details-review-btn-wrapper">
        <button
          type="button"
          class="tp-product-details-review-btn"
          (click)="saveReview()"
        >
          {{ sale_detail_review.review ? "Editar review" : "Registrar review" }}
        </button>
        <button
          type="button"
          class="tp-product-details-review-exit-btn mx-3"
          (click)="backToList()"
        >
          Salir
        </button>
      </div>
    </form>
  </div>
</div>
